Host bastion
  HostName XXXX
  User ec2-user
  IdentityFile ~/.ssh/id_rsa
  
Host app_a
  HostName YYYY
  User ec2-user
  IdentityFile ~/.ssh/id_rsa
  ProxyCommand ssh -W %h:%p bastion

Host app_c
  HostName ZZZZ
  User ec2-user
  IdentityFile ~/.ssh/id_rsa
  ProxyCommand ssh -W %h:%p bastion